<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cafe Management Assistant</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<header class="page-header">
    <h1>Cafe Management Assistant</h1>
    <p>Select how you would like to continue</p>
</header>

<body>

    <main class="login-selection">

        <!-- Customer -->
        <a href="/auth/customer_login.html" class="login-card">

            <img
                src="/assets/icons/customer.svg"
                alt="Customer"
                class="login-icon"
            >

            <h2>
                I'm a <br>
                Customer
            </h2>

        </a>


        <!-- Staff -->
        <a href="/auth/staff_login.html" class="login-card">

            <img
                src="/assets/icons/staff.svg"
                alt="Staff"
                class="login-icon"
            >

            <h2>
                I'm a<br>
                Staff / Admin
            </h2>

        </a>

    </main>

</body>

</html>