============================= test session starts ==============================
platform linux -- Python 3.11.17, pytest-9.1.1, pluggy-1.7.0 -- /opt/hostedtoolcache/Python/3.11.17/x64/bin/python
cachedir: .pytest_cache
rootdir: /home/runner/work/ASD_Cafe_Management_Assistant/ASD_Cafe_Management_Assistant
collecting ... collected 2 items

tests/release2/post_commit/test_api_inventory.py::test_inventory_exist PASSED [ 50%]
tests/release2/post_commit/test_api_inventory.py::test_inventory_item_by_id PASSED [100%]

============================== 2 passed in 0.06s ===============================
